* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
 }
 
 :root {
     --bg-color: #001a8f;
     --text-color: #ffffff;
     --main-color: #0300c0;
     --tag-color: #0400ff;
 }
 body {
 
     background-color: #020024;
     color: var(--text-color);
 }
 
 header{
     position: fixed;
     width: 100%;
     top: 0;
     right: 0;
     z-index: 1000;
     display: flex;
     align-items: center;
     justify-content: space-between;
     background: transparent;
     padding: 22px 15%;
     transition: all .50s ease;
 }
 
 .logo {
     display: flex;
     align-items: center;
     height: 20%;
 
 }
 
 .logo span {
     color: #ffffff;
     font-size: 1.7rem;
     font-weight: 600;
     opacity:0;
 }
 .logo i {
     color: var(--main-color);
     font-size: 28px;
     margin-right: 3px;
 }
 .logo_imag{
    position: fixed;
    top: -15px;
    left: 10px;
    width: 150px; /* Ajuste o tamanho da logo conforme necess치rio */
    height: 150px; /* Ajuste o tamanho da logo conforme necess치rio */
    /* Coloque sua logo como background-image ou <img> dentro da div */
 }
 .function-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0205d8;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    opacity: 1;
    transition: opacity 1s;
    z-index: 1000;
}

.function-bar.hidden {
    opacity: 0;
}
.butao-bara{
    background-color: #0205d8;
    color: #ffffff;
    font-size: 20px;
    border: none;
    left: 100px;
    cursor: pointer;
    transition:color 1s;
}
.butao-bara:hover{
    color: #010011;
}
.butao-bara1{
    background-color: #0205d8;
    color: #0205d8;
    font-size: 20px;
    border: none;
    left: 100px;
    cursor: pointer;
    transition:color 1s;
}
 .carousel-container {
    position: relative;
    width: 100%;
    max-width: 600px; /* Ajuste o tamanho m치ximo do banner conforme necess치rio */
    margin: 0 auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 3s ease;
}

.carousel img {
    width: 100%;
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
 .pes{
    position: absolute;
    top: 160px;
    left: 900px;
 }
 .navbar {
     display: flex;
 }
 
 .navbar a {
     color: var(--text-color);
     font-size: 1.1rem;
     font-weight: 500;
     padding: 5px 0;
     margin: 0 60px;
     transition: all .50s ease;
 }
 
 .navbar a:hover {
     color: var(--main-color);
 }
 
 .navbar a.active {
     color: var(--main-color);
 }
 
 .main {
     display: flex;
     align-items: center;
 }
 
 .main a {
     margin-right: 25px;
     margin-left: 10px;
     color: var(--text-color);
     font-size: 1.1rem;
     font-weight: 500;
     transition: all .50s ease;
 }
 
 .user {
     display: flex;
     align-items: center;    
     color: #ffffff;
     font-size: 28px;
     margin-right: 7px ;
     cursor: pointer;
     transition: color 1s;
 }

 .user:hover{
    color: #010011;
 }
 
 .main a:hover {
     color: var(--main-color);
 }
 
 #menu-icon {
     font-size: 30px;
     color: var(--text-color);
     cursor: pointer;
     z-index: 1001;
     display: none;
 }
 
 @media (max-width: 1280px) {
     header {
         padding: 14px 2%;
         transition: .2s;
     }
 
     .navbar a {
         padding: 5px 0 ;
         margin: 0 20px;
         
     }
 }
 
 @media (max-width: 1090px) {
     #menu-icon {
         display: block;
     }
     .navbar{
         position: absolute;
         top: 100%;
         right: -100%;
         width: 270px;
         height: 25vh;
         background-color: var(--main-color);
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         border-radius: 10px;
         transition: all .50s ease;
     }
     .navbar a {
         display: block;
         margin: 12px 0;
         padding: 0 25px;
         transition: all .50s ease;
         margin-right: 550px;
     }
     .navbar a:hover {
         color: var(--text-color);
         transform: translateY(5px);
     }
     .navbar a.active {
         color: var(--text-color);
     }
 
     .navbar.open{
         right: 2%;
     }
     .logo i {
         display: none;
     }
 }
 
 .section {
     width: 100%;
     min-height: 100vh;
     margin-top: 40px;
     
 }
 
 .container {
     width: 80%;
     display: block;
     margin: auto;
     padding-top: 100px;
 }
 
 
 .container-section {
     float: left;
     width: 55%;
 }
 
 .image-section {
     float: right;
     width: 40%;
 }
 
 .image-section img {
     width: 100%;
     height: auto;
     display: block;
     margin: auto;
 }
 
 .container-section .title {
     text-transform: uppercase;
     font-size: 28px;
 }
 
 .container-section .content h3 {
     margin-top: 20px;
     color: var(--main-color);
 }
 
 
 .container-section .content p {
     margin-top: 10px;
     font-size: 18px;
     line-height: 1.5;
 }
 
 .container-section .content .button {
     margin-top: 30px;
 }
 
 .container-section .content .button a {
     background-color: var(--tag-color);
     padding: 12px 40px ;
     text-decoration: none;
     color: var(--text-color);
     border-radius: 30px;
     font-size: 15px;
     letter-spacing: 1.5px;
     transition: .4s;
 }
 
 .container-section .content .button a:hover {
     background-color: transparent;
     border: 2px solid var(--main-color);
 }
 
 @media (max-width: 768px) {
     .container {
         width: 80%;
         display: block;
         margin: auto;
         padding-top: 50px;
     }
     .container-section {
         float: none;
         width: 100%;
         display: block;
         margin: auto;
     }
     .image-section {
         float: none;
         width: 100%;
         display: block;
         margin: auto;
     }
     .container-section .title {
         text-align: center;
         font-size: 19px;
     }
     .container-section .content .button {
         text-align: center;
     }
     .container-section .content .button a {
         padding: 9px 30px;
     }
 }
 
 
 @media (max-width: 1920px) {
     .section2 {
         margin-left: 20%;
     }
 }
 
 @media (max-width: 768px) {
     .section2 {
         margin-left: 0;
     }
 }
 
 .section2{
     padding: 50px;
    margin-left: -30px;
    
     
 }
 .section2 h2{
     text-align: center;
     color: #f5f5f5;
     font-size: 2.5rem;
 }
 .section2 span {
     color: var(--main-color);
 }
 
 .section2 form{
     display: flex;
     flex-direction: column;
     width: 100%;
 }
 form label{
     color: #f5f5f5;
     font-size: 17px;
     margin-bottom: 4px;
 }
 form input{
     padding: 10px;
     outline: none;
     border: 0;
     font-size: 15px;
     margin-bottom: 30px;
     transition: all 0.5s;
     background: #1218387a;
     caret-color: var(--main-color );
     color: white;
    
 }
 form input:focus{
     border-radius: 16px;
 }
 form textarea{
     padding: 10px;
     outline: none;
     border: 0;
     font-size: 15px;
     margin-bottom: 30px;
     transition: all 0.5s;
     background: #1218387a;
     caret-color: var(--main-color);
     color: white;
 }
 form textarea:focus{
     border-radius: 16px;
     
 }
 form button{
     padding: 10px;
     cursor: pointer;
     font-size: 16px;
     background: transparent;
     border: 2px solid #f5f5f5;
     color: #f5f5f5;
     transition: all 1s;
     margin-bottom: 20px;
 }
 form button:hover{
     background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(11, 11, 161) 0%, rgb(5, 5, 70) 100%);
     color: var();
     border-radius: 10px;
     transition: .4s;
 
 }
 
 .text{
     font-size: 45px;
     color: #f5f5f5;
     margin-bottom: 30px;
 }
 .paragrafo{
     color: #f5f5f5;
     margin-bottom: 50px;
 }
  .bt  {
     background-color: var(--main-color);
     padding: 12px 40px ;
     text-decoration: none;
     color: var(--text-color);
     border-radius: 30px;
     font-size: 15px;
     letter-spacing: 1.5px;
     transition: .4s;
 }
 .bt a:hover{
     background-color: transparent;
     border: 2px solid var(--main-color);
 }
 
 footer {
     background-color: #010011;
     padding: 20px;
     text-align: center;
     font-size: 14px;
     color: var(--text-color);
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   }
 
 .span2 {
     color: var(--main-color);
 }
 
 .main-text {
     text-align: center;
 }
 
 .main-text p {
     font-size: 15px;
     margin-bottom: 15px;
 }
 
 .main-text h2 {
     font-size: 40px;
 }
 
 
 @media (max-width: 360px) {
     .portfolio-content {
         margin-left: -100%;
     }
 
     .main-text {
         text-align: center;
         margin-right: 5%;
     }
 }
 
 .portfolio-content {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(350px, auto));
     align-items: center;
     gap: 2.5rem;
     margin-top: 5rem;
     padding: 50px;
 }
 
 .row {
     position: relative;
     overflow:  hidden;
     border-radius: 8px;
     cursor: pointer;
 }
 
 .row img {
     width: 80%;
     border-radius: 8px;
     display: block;
     transition: transform 0.5s;
 }
 
 .layer {
     width: 84%;
     height: 0%;
     background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgb(0, 0, 0) 0%, rgba(0,255,91,0) 100%);
     position: absolute;
     border-radius: 8px;
     left: 0;
     bottom: 0;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 0 40px;
     transition: height 0.5s;
 }
 
 
 .layer p {
     font-size: 1rem;
     line-height: 1.8;
 }
 
 .layer i {
     color: #272d4d;
     margin-top: 20px;
     font-size: 20px;
     width: 40px;
     height: 40px;
     background-color: var(--text-color);
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
 }
 
 .layer h5 {
     color: var(--main-color);
     font-size: 1rem;
 
 }
 
 .row:hover  img{
     transform: scale(1.1);
 }
 
 
 .row:hover .layer {
     height: 100%;
 }
 
 

 @media (max-width: 390px) {
     .roww {
         margin-right: 1rem;
         width: 100%;
         margin: -6%;
         
     }
 
     .main-text {
         text-align: center;
         margin-right: 1%;
     }
 }
 
 .portfolio-contentt {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(350px, auto));
     align-items: center;
     gap: 2.5rem;
     margin-top: 5rem;
     padding: 50px;
 }
 
 .roww {
     position: center;
     overflow:  hidden;
     border-radius: 5px;
     cursor: pointer;
     margin-right: 80px;
     
 }
 
 .roww iframe {
     width: 400px;
     border-radius: 8px;
     display: block;
     transition: transform 0.5s;
     
 }
 
 .layerr  {
     width: 84%;
     height: 0%;
     background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgb(0, 0, 0) 0%, rgba(0,255,91,0) 100%);
     position: absolute;
     border-radius: 8px;
     left: 0;
     bottom: 0;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 0 40px;
     transition: height 0.5s;
 }
 
 
 .layerr p {
     font-size: 1rem;
     line-height: 1.8;
 }
 
 .layerr i {
     color: #272d4d;
     margin-top: 20px;
     font-size: 20px;
     width: 40px;
     height: 40px;
     background-color: var(--text-color);
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
 }
 
 .layerr h5 {
     color: var(--main-color);
     font-size: 1rem;
 
 }
 
 .roww:hover  iframe{
     transform: scale(1.1);
 }
 
 
 .roww:hover .layer {
     height: 100%;
 }